body .header-edit {
  text-transform: uppercase;
  font-size: 30px;
  padding: 20px;
  text-align: center; }

body .edit-wrapper {
  margin-left: 57%;
  margin-right: auto;
  width: 500px; }
  body .edit-wrapper input {
    width: 200px;
    padding: 10px; }
  body .edit-wrapper #input2 {
    width: 125px; }
  body .edit-wrapper input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none; }
  body .edit-wrapper button {
    width: 80px;
    padding: 11px; }

body {
  background-image: url("../pictures/414717-PD6STJ-369.jpg");
  background-size: cover;
  background-position-x: -390px;
  font-size: 14px; }
  @media (min-width: 768px) {
    body {
      height: 100%;
      position: relative;
      background-position-x: 0px;
      background-position-y: -210px;
      font-family: 'Shadows Into Light', cursive;
      font-size: 18px;
      color: black; } }
  body .todo-container {
    margin-left: 15%;
    width: 400px; }
    @media (min-width: 990px) {
      body .todo-container {
        margin-left: 57%;
        margin-right: auto;
        width: 500px; } }
    body .todo-container .header-todo {
      text-transform: uppercase;
      font-size: 30px;
      padding: 20px;
      text-align: center; }
    body .todo-container .my-todo-wrapper {
      height: 500px; }
      body .todo-container .my-todo-wrapper .todo-wrapper {
        margin: 10px; }
      body .todo-container .my-todo-wrapper .updateremove-wrapper {
        display: inline-block;
        text-align: end;
        width: 80px;
        margin-left: 7px; }
        body .todo-container .my-todo-wrapper .updateremove-wrapper .updateremove {
          text-decoration: none;
          color: black;
          padding: 5px; }
      body .todo-container .my-todo-wrapper .add-todo-wrapper {
        text-align: center; }
        body .todo-container .my-todo-wrapper .add-todo-wrapper .add-new-todo {
          margin-top: 15px; }
          body .todo-container .my-todo-wrapper .add-todo-wrapper .add-new-todo #input1 {
            width: 140px;
            padding: 11px; }
            @media (min-width: 990px) {
              body .todo-container .my-todo-wrapper .add-todo-wrapper .add-new-todo #input1 {
                width: 200px; } }
            body .todo-container .my-todo-wrapper .add-todo-wrapper .add-new-todo #input1::placeholder {
              font-family: 'Shadows Into Light', cursive;
              font-size: 16px; }
          body .todo-container .my-todo-wrapper .add-todo-wrapper .add-new-todo #input2 {
            width: 110px;
            padding: 5px; }
            @media (min-width: 990px) {
              body .todo-container .my-todo-wrapper .add-todo-wrapper .add-new-todo #input2 {
                width: 125px; } }
          body .todo-container .my-todo-wrapper .add-todo-wrapper .add-new-todo input[type="date"] {
            font-family: 'Shadows Into Light', cursive;
            font-size: 16px; }
          body .todo-container .my-todo-wrapper .add-todo-wrapper .add-new-todo input[type="date"]::-webkit-inner-spin-button {
            display: none;
            -webkit-appearance: none; }
          body .todo-container .my-todo-wrapper .add-todo-wrapper .add-new-todo button {
            width: 50px;
            padding: 11px; }
            @media (min-width: 990px) {
              body .todo-container .my-todo-wrapper .add-todo-wrapper .add-new-todo button {
                width: 80px; } }
      body .todo-container .my-todo-wrapper .todos {
        display: inline-block;
        width: 130px;
        margin-left: 15px; }
        @media (min-width: 990px) {
          body .todo-container .my-todo-wrapper .todos {
            word-break: break-word;
            margin: 0;
            width: 220px; } }
        body .todo-container .my-todo-wrapper .todos i {
          margin-right: 10px; }
          body .todo-container .my-todo-wrapper .todos i:hover {
            color: #987251;
            cursor: pointer; }
      body .todo-container .my-todo-wrapper .todos-active {
        text-decoration: line-through; }
      body .todo-container .my-todo-wrapper .todo-date {
        display: inline-block;
        text-align: end;
        width: 130px;
        margin: 0; }
        @media (min-width: 990px) {
          body .todo-container .my-todo-wrapper .todo-date {
            text-align: left;
            width: 149px; } }
    body .todo-container .sort-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: center;
      margin-top: 100px; }
      body .todo-container .sort-wrapper a {
        color: black;
        text-decoration: none; }

.pagination-wrapper {
  position: absolute;
  bottom: 20%;
  left: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 10px; }
  @media (min-width: 990px) {
    .pagination-wrapper {
      left: 72%; } }
  .pagination-wrapper a {
    color: black; }
