@import "edit";

@mixin tablet {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin large-tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 990px) {
        @content;
    }
}

body {
    background-image: url("../pictures/414717-PD6STJ-369.jpg");
    background-size: cover;
    background-position-x: -430px;
    font-size: 14px;

    @include large-tablet() {
        height: 100%;
        position: relative;
        background-position-x: 0px;
        background-position-y: -210px;
        font-family: 'Shadows Into Light', cursive;
        font-size: 18px;
        color: black;
    }

    .todo-container {
        width: 100%;
        @include desktop(){
            margin-left: 57%;
            margin-right: auto;
            width: 500px;
        }

        .header-todo {
            text-transform: uppercase;
            font-size: 30px;
            padding: 20px;
            margin-left: 20px;
            text-align: center;
            @include desktop(){
                margin-left: 0;
            }
        }

        .my-todo-wrapper {
            height: 500px;

            .todo-wrapper {
                display: flex;
                margin: 10px;
            }

            .updateremove-wrapper {
                display: inline-block;
                text-align: end;
                width: 80px;
                margin-left: 7px;

                .updateremove {
                    text-decoration: none;
                    color: black;
                    padding: 5px;
                }
            }

            .add-todo-wrapper {
                margin-left: 13%;
                display: flex;
                justify-content: center;
                @include desktop(){
                margin-left: 0;
                display: inline;
                }

                .add-new-todo {
                    margin-top: 15px;
                    @include desktop(){
                        margin-left: 10px;
                    }

                    #input1 {
                        width: 100px;
                        padding: 11px;
                        @include desktop(){
                        width: 200px;
                        }

                        &::placeholder {
                            font-size: 12px;
                            font-family: 'Shadows Into Light', cursive;
                            @include desktop(){
                            font-size: 16px;
                            }
                        }
                    }

                    #input2 {
                        width: 100px;
                        padding: 8px;

                        @include desktop(){
                        width: 125px;
                        padding: 5px;

                        }
                    }

                    input[type="date"] {
                        font-family: 'Shadows Into Light', cursive;
                        font-size: 12px;
                        @include desktop(){
                        font-size: 16px;
                        }
                    }

                    input[type="date"]::-webkit-inner-spin-button {
                        display: none;
                        -webkit-appearance: none;
                    }

                    button {
                        width: 50px;
                        padding: 11px;

                        @include desktop(){
                        width: 80px;
                        }
                    }
                }
            }

            .todos {
                margin-left: 15px;
                @include desktop(){
                word-break: break-word;
                margin: 0;
                width: 220px;
                }

                i {
                    margin-right: 10px;

                    &:hover {
                        color: #987251;
                        cursor: pointer;
                    }
                }
            }

            .todos-active {
                text-decoration: line-through;
            }
            .todo-text {
                margin-left: 35px;
                display: inline-block;
                width: 230px;
                @include desktop(){
                    margin-left: 0;
                }
            }

            .todo-date {
                width: 130px;
                margin: 0;
                @include desktop(){
                    text-align: left;
                    width: 149px;

                }
            }
        }

        .sort-wrapper {
            margin-left: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 100px;
            @include desktop(){
                width: 100%;
                margin-left: 0;
                text-align: center;
                justify-content: space-around;

            }

            a {
                color: black;
                text-decoration: none;
            }
        }

    }
}

.pagination-wrapper {
    position: absolute;
    bottom: 10%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    @include desktop(){
        left: 72%;
    }

    a {
        color: black;
    }
}