@import "edit";

body {
    background-image: url("../pictures/414717-PD6STJ-369.jpg");
    background-size: cover;
    background-position-y: -210px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
    color: black;

    .todo-container {
        margin-left: 57%;
        margin-right: auto;
        width: 500px;

        .header-todo {
            text-transform: uppercase;
            font-size: 30px;
            padding: 20px;
            text-align: center;
        }

        .my-todo-wrapper {
            height: 500px;

            .todo-wrapper {
                margin: 10px;
            }

            .updateremove-wrapper {
                display: inline-block;
                text-align: end;
                width: 80px;
                margin-left: 7px;
                .updateremove {
                    text-decoration: none;
                    color: black;
                    padding: 5px;
                }
        }

            .add-todo-wrapper {
                text-align: center;
                .add-new-todo {
                    margin-top: 15px;

                    #input1 {
                        width: 200px;
                        padding: 11px;
                        &::placeholder{
                            font-family: 'Shadows Into Light', cursive;
                            font-size: 16px;
                        }
                    }

                    #input2 {
                        width: 125px;
                        padding: 5px;
                    }

                    input[type="date"] {
                        font-family: 'Shadows Into Light', cursive;
                        font-size: 16px;
                    }
                    
                    input[type="date"]::-webkit-inner-spin-button {
                        display: none;
                        -webkit-appearance: none;
                    }

                    button {
                        width: 80px;
                        padding: 11px;
                    }
                }
            }

            .todos {
                word-break: break-word;
                margin: 0;
                width: 220px;
                display: inline-block;
                margin-left: 5px;
                i {
                    margin-right: 10px;
                    &:hover {
                        color: #987251;
                        cursor: pointer;
                    }
                }
            }

            .todos-active {
                text-decoration: line-through;
            }

            .todo-date {
                text-align: center;
                width: 149px;
                margin: 0;
            }
        }

        .sort-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            margin-top: 100px;

            a {
                color: black;
                text-decoration: none;
            }
        }

        .pagination-wrapper {
            text-align: center;
            margin-top: 10px;

            a {
                color: black;
                font-weight: bold;
            }
        }
    }
}