<%- include("header.ejs") %>

<body>
    <div class="edit-wrapper">
        <div class="header-edit">Your todo list</div>
        <form method="post">

            <input type="text" name="text" id="" value="<%=response.text%>">
            <input type="date" name="date" id="input2" value="<%=response.date%>">

            <button type="submit">Update</button>

        </form>
    </div>
</body>

</html>